.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-side{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.side-left{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.size > * {
    width: 60%;
}

.u-main-form{
    width: 70%;
}

.u-main-form > *{
    margin: 30px;
}

.main-form {
    width: 40%;
}
.x-main-form{
    width: 40%;
}
.x-main-form > *{
    margin: 40px;
}
.main-form > *{
    margin: 40px;
}

.main-order{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.side-one{
    width: 50%;
}
.side-two{
    width: 50%;
}

.side-right{
    width: 60%;
}