.main{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-form{
    width: 30%;
}

.main-form > *{
    margin: 20px;
}